/* Write your global styles here, in PostCSS syntax */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&family=Nanum+Pen+Script&family=Quicksand&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
